//START: Colors
$blackColor: #1b1b1b;
$greyColor: #696d8d;
$redColor: #f84d39;
$whiteColor: #FFF;
$greenColor: #5bfd8b;
$darkGreenColor: #00dc7d;
$purpleColor: #b396ff;
$purpleColorAlt: #3521ff;
$lightPurpleColor: #e7e2f9;
$darkPurpleColor: #8870e6;
$lightWhiteColor: #F9F9F9;
$lightBlueColor: #fafaff;
$blueColor: #3aade9;
$darkBlueColor: #171d32;
$yellowColor: #F4D03F;
$goldColor: #f5c70e;

$greyBorderColor: #d8d9e5;


/*--------*/
$titleFont: 'Exo',
sans-serif;
$bodyFont: 'Noto Sans JP';

$lightFontWeight: 300;
$normalFontWeight: 400;
$mediumFontWeight: 500;
$boldFontWeight: 700;
$smallFontSize: .85rem;
$smallerFontSize: .8rem;
$smallestFontSize: .7rem;
$normalFontSize: .9rem;
$mediumFontSize: 1.15rem;
$largeFontSize: 1.25rem;
$largerFontSize: 1.5rem;
$largestFontSize: 1.65rem;
$extraLargeFontSize: 2rem;
$extraExtraLargeFontSize: 2.5rem;
/*--------*/

$mediumOpacity: .85;
$lightOpacity: .7;
$transitionSpeed: .3s;
$smallDeviceWidth: 375px;